extends layout

block content
    h1(class="main_el") Stockdex Main
    form(class="main_el")
        input(type="text" value="TSLA" name="ticker")
        br
        input(type="text" value="1min" name="range")
        br
        input(type="text" value="1" name="entry")
        br
        input(type="submit")
